


<div class="row row-cols-1 row-cols-md-3 g-4 " id="main">



    <div class="col">
      <div class="card h-100">
        <img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f40b7_testimonial-quote.svg">
        <div class="card-body">
        
          <p class="card-text">“I wish the world could know the wonderful things that are happening on the Doctorate hospital, who have had an injury that cured soon. ” </p>
          <img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f4060_testimonail-client-two.png" loading="lazy" alt="Testimonial client" class="testimonial-client-image" aria-hidden="true">
          <br>
          <h5 class="card-title">Mark Brown</h5>
          <h5 class="card-title">Customer survice</h5>
          <img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f40b8_testimonial-rating.svg" loading="lazy" alt="Testimonial Rating" class="star-rating" aria-hidden="true">
        </div>
      </div>
    </div>


    <div class="col">
      <div class="card h-100">
        <img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f40b7_testimonial-quote.svg">
        <div class="card-body">
          <p class="card-text">“I want to express my appreciation for a very finely run and professional facility. Doctors always encouraged to ask questions.”</p>
          <img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f405a_testimonail-client-one.png" loading="lazy" alt="Testimonial client" class="testimonial-client-image" aria-hidden="true">
          <br>
          <h5 class="card-title">Robert Davis</h5>
          <h5 class="card-title">canser patient</h5>
          <img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f40b8_testimonial-rating.svg" loading="lazy" alt="Testimonial Rating" class="star-rating" aria-hidden="true">
        </div>
      </div>
    </div>


    <div class="col">
        <div class="card h-100">
            <img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f40b7_testimonial-quote.svg">

          <div class="card-body">
          
            <p class="card-text">“All the doctors, nurses, aides, food service employees, security and maintenance workers deserve such praise for their attention & care.”</p>
            <img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f4061_testimonail-client-three.png" loading="lazy" alt="Testimonial client" class="testimonial-client-image" aria-hidden="true">
            <br>
            <h5 class="card-title">Vanseena Adams</h5>
            <h5 class="card-title"> DENTAL PATIENT</h5>
            <img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f40b8_testimonial-rating.svg" loading="lazy" alt="Testimonial Rating" class="star-rating" aria-hidden="true">
          </div>
        </div>
      </div>

  </div>