<div class="row row-cols-1 row-cols-lg-3 row-cols-md-2  row-cols-sm-1 g-4">

 

  <div class="col">
    <div class="card w-70">
      <img [src]="img1" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">skin</h5>
      
      </div>
    </div>
  </div>



  <div class="col">
    <div class="card w-70">
      <img [src]="img2" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">bones</h5>
       
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card w-70">
      <img [src]="img3" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">children</h5>
        
      </div>
    </div>
  </div>



  <div class="col">
    <div class="card w-70">
      <img [src]="img4" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">brain</h5>
     
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card w-70">
      <img [src]="img5" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">teeth</h5>
      </div>
    </div>
  </div>


  <div class="col">
    <div class="card w-70">
      <img [src]="img6" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">nose & ear &throat</h5>
      
      </div>
    </div>
  </div>





</div>