<div class="counter-section">
    <div class="container w-container">
        <div class="counter-section-items">
            <div class="w-layout-grid counter-grid-wrap">


                <div class="counter-item">
                    <div class="counter-icon"><img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f40b9_counter-icon-1.svg" loading="lazy" alt="Counter Icon"></div>
                    
                    <h3 class="counter-title">1.5 Crore+<br></h3>

                <div class="info-text-block">Satisfied Patients<br>
                </div></div>
                





                <div class="counter-item">
                    
                    <div class="counter-icon"><img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f40ba_counter-icon-2.svg" loading="lazy" alt="Counter Icon"></div><h3 class="counter-title">2 Million+<br></h3><div class="info-text-block">Doctor Appointments</div></div><div class="counter-item"><div class="counter-icon"><img src="https://assets-global.website-files.com/65bb1ade509e90321a2f3fb7/65bb1ade509e90321a2f40bb_counter-icon-3.svg" loading="lazy" alt="Counter Icon"></div><h3 class="counter-title">200,000+<br></h3><div class="info-text-block">Certified Experts</div></div></div></div></div></div>
