<app-header></app-header>

<br>
<br>

<div style="display: flex;">




<aside style="width: 25%;">
  <div style="border: 3px blue solid;">
<input 
type="text"
 [(ngModel)]="searchText" 
 (input)="applyFilter()" 
 placeholder="Search...."
 style="margin-top: 20px;border-radius: 55px;">

<br>
<br>
<div style="display: flex;">


<button class="btn btn-outline-primary" (click)="filterMales('Male')" style="margin-left: 20px;" >males</button>
<button class="btn btn-outline-primary" (click)="filterFeMales('Female')" style="margin-left: 40px;">females</button>
</div>
</div>

</aside>






                                    <!--         -->





<aside>

<div class="row row-cols-1 row-cols-sm-5  row-cols-md-8   row-cols-lg-6  g-4">

    <div class="col" *ngFor="let doctor of filterateData ; let i = index">


<div class="card h-100"  >
  <div class="card-body">
    <h5 class="card-title">{{doctor.username}}</h5>
    <div class="card-text">{{doctor.specialty}}</div>
    <div class="card-text">{{doctor.location}}</div>
    <div class="card-text">{{doctor.hospital}}</div>
    <div style="justify-content: space-between;">

      @if(role == 'Admin'){
       <button class="btn btn-primary" (click)="handleNavigation(doctor.id)">more</button>
    <button class="btn btn-danger" (click)="delete(doctor.id)">delete</button>
    <button class="btn btn-warning" (click)="addToCart(doctor)">add to</button>
      }

   
    </div>
  </div>
</div>
    
    </div>
 
    </div>
    

</aside>








</div> 

<br>
<br>
 
<app-footer></app-footer>