<app-header></app-header>

<br>
<br>

<div style="display: flex;">




<aside style="width: 25%;">
  <div style="border: 3px blue solid;">
<input 
type="text"
 [(ngModel)]="searchText" 
 (input)="applyFilter()" 
 placeholder="Search...."
 style="margin-top: 20px;border-radius: 55px;">

<br>
<br>
<div style="display: flex;">


<button class="btn btn-outline-primary" (click)="filterMales('male')" style="margin-left: 20px;" >males</button>
<button class="btn btn-outline-primary" (click)="filterFeMales('female')" style="margin-left: 40px;">females</button>
</div>
</div>

</aside>






                                    <!--         -->





<aside>

<div class="row row-cols-1 row-cols-sm-5  row-cols-md-3   row-cols-lg-3  g-4">

    <div class="col" *ngFor="let doctor of filterateData ; let i = index">


<div class="card h-100"  >
  <div class="card-body">
    <h5 class="card-title">{{doctor.username}}</h5>
    <div class="card-text">{{doctor.specialty}}</div>
    <div class="card-text">{{doctor.location}}</div>
    <div class="card-text">{{doctor.hospital}}</div>
    <div style="justify-content: space-between;">

      @if(role == 'Admin'){
     
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#delModal' + doctor._id">
          delete
        </button>
        
        <div class="modal fade" [id]="'delModal' + doctor._id" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                Do you want to delete guest with ID: {{ doctor.username}}?
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="delete(doctor._id)">Delete</button>
              </div>
            </div>
          </div>
        </div>
   
      }
   
      <button class="btn btn-primary" (click)="handleNavigation(doctor._id)">more</button>
      @if(role == 'Admin'){
      <button class="btn btn-warning" (click)="addToCart(doctor)">add to</button>
      }
    </div>
  </div>
</div>
    
    </div>
 
    </div>
    

</aside>








</div> 

<br>
<br>
 
<app-footer></app-footer>