<!-- <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
      
      <div class="col">
  
        <div class="card h-100">
          <img [src]="member.picture.medium" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{member.email}}</h5>
            <div class="card-text">{{member.gender}}</div>
            <div class="card-text">{{member.phone}}</div>
            <button (click)="handleNavigation(doctor.email)">navi</button>
          </div>
        </div>
      </div>

      </div> -->
      
